<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chieta Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

 
</head>

<body>
    <div class="dashboard-container">

        <!-- Sidebar -->
        <div class="sidebar">
            <div class="graduate-icon"><img src="./images/logo_simplebbbbbbbbbbbbbb.png" alt=" " style=" width: 130px;">
            </div><br><br>
            <ul>

                <li><a href="./personalInfo.html" class="nav-item"><i class="fa fa-user"></i> Personal Info</a></li>
                <li><a href="./education.html" class="nav-item"><i class="fa fa-graduation-cap"></i> Education</a></li>
                <li><a href="./occupation.html" class="nav-item"><i class="fa fa-briefcase"></i> Work History</a></li>
                <li><a href="./attachments.html" class="nav-item"><i class="fa fa-paperclip"></i> Attachments</a></li>
                <li><a href="./generated.html" class="nav-item"><i class="fa fa-file"></i> Generate CV</a></li>
                <li>🔔 Notifications</li>
                <li>🛠️ Help & Support</li> <br><br><br><br>
                <button class="fixy">⚙️ Settings</button>
                <button class="fix">🚪 Log Out</button><br>
                <!-- <li><i>🆘</i> Help Services</li> -->
                <!-- <li><i>🎓</i> Student Portal</li>
                <li><i>📚</i> Courses</li>
                <li><i>📝</i> Assignments</li> -->
            </ul>
            <img src="./images/rb_2149331949.png" alt="" width="199px">
        </div>

        <!-- Content -->
        <div class="content">

            <!-- Top Bar -->
            <div class="topbar">
                <input type="search" placeholder="Search...">
                <!-- <div class="icon">🔍</div> -->


            </div>

            <!-- Welcome Box -->
            <!-- <img src="./images/rb_2148892786.png" alt="" width="90px" height="100px">
            <div class="welcome-box">
                <br>Welcome, Natasia Mahure
                <br>
                <div class="date">September 15, 2024</div>
            </div> -->
            <div class="welcome-container">
                <div class="image-container">
                    <img src="./images/rb_2148892786.png" alt="Profile Picture" width="390px" height="190px">
                </div>
                <div class="welcome-box">
                    <p>Welcome, Natasia Mahure</p>
                    <div class="date">Take the next step in your career journey! Create your CV to showcase your
                        <br>skills and qualifications to potential employers. <span class="highlight">Register today!</span>
                        <br>
                    </div>
                    
                    <!-- <div class="date">September 15, 2024</div> -->
                    <button class="gradient-button">Innovating for Impact</button>
                </div>

            </div>



            <div class="master"> <!-- Main Box with 6 Sub Boxes -->
                <div class="main-box">
                    <div class="sub-box">Communications: 4
                        <div class="graduate-icon">
                        </div>
                        <!-- <div class="tooltip-text">Profile Overview|Personal Information|Profile Picture</div> -->
                    </div>
                    <div class="sub-box">Profile Progress: 97%
                        <div class="graduate-icon">
                        </div>
                        <!-- <div class="tooltip-text">Upcoming Assignments|Caurse Shedule|Grade</div> -->
                    </div>
                    <div class="sub-box">Campany Offers: 2%
                        <div class="graduate-icon">
                        </div>
                        <!-- <div class="tooltip-text">Upcoming Bursaries|Outstanding Fees|Grade</div> -->
                    </div>
                </div>
                <div class="flex-container">
                    <div class="flex-box">
                        <div class="icon">
                            <img src="./images/chat 2.png" alt="Icon 1">
                        </div>
                        <h1>Admin Feedback</h1>
                        <button>Learn More</button>
                    </div>
                    <div class="flex-box2">
                        <div class="icon">
                            <img src="./images/User.png" alt="Icon 2">
                        </div>
                        <h1>Profile</h1>
                        <button>Learn More</button>
                    </div>
                    <div class="flex-box3">
                        <div class="icon">
                            <img src="./images/paper 3.png" alt="Icon 3">
                        </div>
                        <h1>Survey</h1>
                        <button>Learn More</button>
                    </div>
                </div>
            </div>


        </div>



    </div>



</body>

</html>